#                                     Assignment - 1

Q1. creat one variable containing following types of data:

(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#String

string = "assignment"
print(type(string))

#List

my_list = [1,2,3,4,5]
print(type(my_list))

#Float

my_float = 55.5
print(type(my_float))

#Tuple

my_tuple = True, False
print(type(my_tuple))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:

(i) var1 = ""
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = [ 'DS' , 'ML' , 'Python' ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [2]:
#The data types of the following variables are:

#var1 = ""    - string

var1 = ""
print(type(var1))

#var2 = ‘[ DS , ML , Python]’   - string

var2 = '[ DS , ML , Python]'
print(type(var2))

#var3 = [ 'DS' , 'ML' , 'Python' ]   - list

var3 = [ 'DS' , 'ML' , 'Python' ]
print(type(var3))

#var4 = 1.   -float

var4 = 1.
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
# (i) '/' - this is called division operator this is use to dibide two numbers
#example -
x = 10
y = 2
result = x/y
print(result)

5.0

In [4]:
#(ii) '%' - this operator is used to find the reminder of the division of two numbers
#example - 
x = 10
y = 3
result = x%y
print(result)

#here the result will be 1 which is our reminder

1

In [5]:
#(iii) '//' - this operator performs division between two numbers and return quotient in whole number
#example -
x = 10
y = 3
result = x//y
print(result)

#here we will get the result of 3 but if we have done normal division here then we would have got the result 3.3333

3

In [6]:
#(iv) '**' - this is called exponential operator it is used to raise a number to the power of another number
#example -
x = 2
y = 3
result = x**y
print(result)

#here it has raise 2 to the power of 3 which is equal to 8

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
list = [1,2,3,"honey", 22.2, True,[123,1223],"sudh","krish", "spider"]
for item in list:
    print(item, type(item))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
honey <class 'str'>
22.2 <class 'float'>
True <class 'bool'>
[123, 1223] <class 'list'>
sudh <class 'str'>
krish <class 'str'>
spider <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
a = 100
b = 5
divisions = 0
while a % b == 0:
    a= a // b
    divisions +=1
print("number of times a can be divided by b : ", divisions)

number of times a can be divided by b :  2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
my_list = [3,6,9,12,15,8,18,24,20,19,11,60,58,99,68,52,67,96,17,88,65,92,77,88,39]
for i in my_list:
    if i%3 ==0:
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

3  is divisible by 3
6  is divisible by 3
9  is divisible by 3
12  is divisible by 3
15  is divisible by 3
8  is not divisible by 3
18  is divisible by 3
24  is divisible by 3
20  is not divisible by 3
19  is not divisible by 3
11  is not divisible by 3
60  is divisible by 3
58  is not divisible by 3
99  is divisible by 3
68  is not divisible by 3
52  is not divisible by 3
67  is not divisible by 3
96  is divisible by 3
17  is not divisible by 3
88  is not divisible by 3
65  is not divisible by 3
92  is not divisible by 3
77  is not divisible by 3
88  is not divisible by 3
39  is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [10]:
#Mutable data is that type of data whose index value can be change.
#example - list
l = [2,3, 4,"sudh", True, 34]
#suppose we want to change our 1st index value 3 to 300
#so what we will do is:
l[1]=300
#by doing this our value will change from 3 to 300 this is called mutable data whose value can be changed
print(l)

[2, 300, 4, 'sudh', True, 34]

In [11]:
#Immutable data is that type of data whose index value cannot be change.
#example - string
s = "sudh"
#when we try to change its index value it will note change and it will give an error
#lets change its 1st index value from u to z:
s[1]="z"
#it gave an error

TypeError: 'str' object does not support item assignment